<div class="container mt-5">
   <form method="post" action="">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search</label>
            <input type="text" class="form-control" name="q" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
                <label for="gender" class="form-label">Search</label>
                <select name="gender" class="form-control" id="gender" name="q">
                    <option value="nam">Nam</option>
                    <option value="nu">Nu</option>
                </select>
            </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>